{% extends "layout.html" %}

<!--Title of html document here-->
{% block title %}Home{% endblock %}

<!-- Include socket.io library -->
{% block header %}
	{% include "socket.html" %}
{% endblock %}


<!-- Add content to be added to layout file here-->
{% block content %}
<script type="text/javascript" src="js/socket.js">
</script>
<p id="time"></p>
<p>Display Temperature: <span id="temperature"></span><sup>o</sup>C</p>
<p>Display Humidity: <span id="humidity"></span>%</p>

{% endblock %}